body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 30px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 30px;
}

.three.preview{
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 30px;
  margin-left: 350px}
/* styles.css */

#parent {
  color: red;
}

.child {
  color: rgb(9, 215, 36);
}
.child {
  color: burlywood;
}



