/* Add CSS Styling */
/* using type selectors */
div p{
   background-color: yellow;
   color: red;
   font-size: 20px;
   text-align: center;
}
/* this is the answer using class selectors */
.container .text{
   background-color: yellow;
   color: red;
   font-size: 20px;
   text-align: center;
}